body {
	display: flex;
	flex-direction: row;
}

#todo-form,
#todo-list,
#completed-list {
	width: 33%;
}

#todo-form,
#todo-list {
	border-right: 3px solid black;
}

.completed {
	text-decoration: line-through;
}
