:root {
	--accent: #5e81ac;
	--text-color: #2e3440;
	--bg-color: #ffffff;
	--input-color: #eceff4;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	background-color: var(--bg-color);
}

#load-screen {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	z-index: 50;
	position: fixed;
	animation: hide 3s forwards;
	pointer-events: none;
}

@keyframes hide {
	to {
		opacity: 0;
	}
}

#branding {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 7rem;
	padding: 0 1rem;
}

#branding p {
	font-size: 4rem;
	font-weight: 800;
	color: var(--text-color);
	line-height: 0;
	margin: 0;
}

#new-todo,
#new-tag,
#show-control {
	position: absolute;
	cursor: default;
}

#new-todo-btn,
#new-tag-btn,
#show-control {
	background-color: var(--accent);
	border: none;
	border-radius: 50%;
	color: white;
	line-height: 0;
	cursor: pointer;
	transition: 0.9s;
}

#show-control {
	height: 4.5rem;
	width: 4.5rem;
	right: 1rem;
	bottom: 1rem;
	font-size: 1.4rem;
	z-index: 10;
	background-position: center;
	transition: 0.4s;
}

#show-control:active {
	transform: scale(0.8);
}

#show-control:hover {
	background-color: #81a1c1;
}

#new-todo-btn,
#new-tag-btn {
	height: 3rem;
	width: 3rem;
	margin-left: 0.5rem;
	font-size: 1rem;
}

#new-todo,
#new-tag {
	display: flex;
	right: 1.75rem;
	bottom: 1.5rem;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	pointer-events: none;
	z-index: 9;
}

.new-note-move-up {
	transform: translateY(-5rem);
	pointer-events: all !important;
}

.new-tag-move-up {
	transform: translateY(-9.5rem);
	pointer-events: all !important;
}

#new-todo p,
#new-tag p {
	opacity: 0;
	font-weight: 600;
	color: var(--text-color);
	transition: 0.2s;
}

.show-up {
	opacity: 1;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 0.4s;
	border-radius: 12px;
	z-index: 20;
	background-color: var(--bg-color);
	width: 500px;
	max-width: 80%;
	font-size: 1.1rem;
	color: var(--text-color);
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 1rem 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	font-size: 1.5rem;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
	transition: 0.4s;
	z-index: 15;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

.form {
	display: flex;
	flex-direction: column;
}

.input-btn-container {
	display: flex;
	justify-content: flex-end;
}

input[type="button"] {
	margin-left: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: none;
	background: none;
	cursor: pointer;
	color: var(--accent);
	font-weight: 600;
	font-size: 1rem;
	font-family: "Open Sans", sans-serif;
}

input[type="text"],
input[type="date"],
select {
	padding: 0.4rem;
	margin-bottom: 1rem;
	border: none;
	border-bottom: 2px solid transparent;
	border-radius: 6px;
	background-color: var(--input-color);
	transition: 0.4s;
	outline: none;
	font-size: 1.2rem;
	font-family: "Open Sans", sans-serif;
	color: var(--text-color);
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
	border-bottom: 2px solid var(--accent);
}

#display-container {
	padding: 1rem;
	overflow: auto;
	height: 77vh;
}

.tag-area {
	/* background-color: #ebebeb;
	padding: 1rem; */
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.tag-area p {
	margin: 0 0 0.5rem 0;
	padding: 1rem;
	font-size: 1.5rem;
	border-radius: 8px;
	color: var(--text-color);
	background-color: #e5e9f0;
	font-weight: 600;
	cursor: pointer;
}

.todo-area {
	display: flex;
	flex-direction: column;
}

.todo-element {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.25rem 0;
	position: relative;
	transition: 0.3s;
}

/* .todo-element:hover,
.todo-element:active,
.todo-element:focus {
	border: #2e3440 dashed 2px;
} */

.todo-element div {
	display: inline-flex;
	align-items: center;
}

.todo-element span {
	color: var(--text-color);
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0.5rem 0.25rem;
	transition: 0.3s;
	cursor: pointer;
}

.todo-element input {
	height: 25px;
	width: 25px;
	margin: 0 0.5rem 0 0.5rem;
	appearance: none;
	border: 3px solid #e5e9f0;
	border-radius: 6px;
	outline: none;
	transition-duration: 0.3s;
	background-color: #ffffff;
	cursor: pointer;
}

.todo-element input:checked {
	background-color: var(--accent);
	border: var(--accent);
}

.todo-element input:checked + span::before {
	font-family: "Font Awesome 5 Free";
	content: "\f00c";
	display: block;
	text-align: center;
	font-weight: 900;
	font-size: 1rem;
	color: white;
	position: absolute;
	left: 0.8rem;
	top: 0.8rem;
	pointer-events: none;
}

.todo-element input:checked + span {
	color: rgb(171 171 171);
	text-decoration: line-through 2px;
}

.animate-fading {
	animation: fading 0.5s;
}

@keyframes fading {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
