#todo-form,
#label-form,
#todo-list,
#completed-list {
	width: 100%;
}

#todo-form,
#label-form {
	display: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.completed {
	text-decoration: line-through;
}
